/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:white;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url("../img/cross1.png") no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */


/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	z-index:1200;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.form1{

	text-align:center;
	margin-top:50px;
	position:relative;

}
.searchbtn{
	 background:transparent;
	 outline:none;
	 border:0;
	 color: rgba(0,0,0,0.55);
}
.searchbx{
	font-size: 20px;
	width:60%;
	height:48px;
	background:transparent;
	padding: 0px 5px 0px 10px;
	font-weight: 400;
	border:none;
	color:rgba(0,0,0,0.55);
	outline:none;
	background: #fff;
	border-radius: 3px;
}
::-webkit-input-placeholder {
   color: #9d9d9d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #9d9d9d;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #9d9d9d;
}

:-ms-input-placeholder {
   color: #9d9d9d;
}
input[type="search"] { /* reset normalize */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
 .srhicon{
	font-size:30px;
color:white;
 }
 .btn1{

	 position: absolute;
    top: 45%;
    right: 24%;
}
